<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Customer DashBoard</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto:wght@500;700&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="/css/customer-dashboard.css" />
  </head>
  <body>
    <div class="left-navigation">
      <div class="top-logo">
        <img class="logo" src="/images/sign-up-title-logo.svg" alt="" />
        <h2 class="logo-txt">Insurance </h2>
      </div>
      <div class="option-btns">
        <button class="dashboard-btn btn-font press-btn">
          <img
            src="https://img.icons8.com/material-rounded/24/000000/dashboard-layout.png"
          />

          Dashboard
        </button>
        <button class="policies-btn btn-font">
          <img
            src="https://img.icons8.com/external-smashingstocks-mixed-smashing-stocks/24/000000/external-Policy-human-resources-smashingstocks-mixed-smashing-stocks.png"
          />

          Policies
        </button>
        <button class="apply-policies-btn btn-font">
          <img src="https://img.icons8.com/ios/24/000000/set-as-resume.png" />
          Apply Policies
        </button>
        <button class="history-btn btn-font">
          <img src="https://img.icons8.com/windows/24/000000/story-time.png" />

          History
        </button>
        <button class="ask-qs-btn btn-font">
          <img
            src="https://img.icons8.com/material-rounded/24/000000/ask-question.png"
          />

          Ask a Question
        </button>
        <button class="log-out-btn btn-font">
          <img
            src="https://img.icons8.com/external-kmg-design-detailed-outline-kmg-design/24/000000/external-log-out-user-interface-kmg-design-detailed-outline-kmg-design.png"
          />

          Log Out
        </button>
      </div>
    </div>
    <h2 class="hello-txt">Hello <%=customer.name  %> </h2>
    <button class="notification-btn">
      <img src="images/bell-icon.png" alt="" />
    </button>
    <h2 class="profile-name"><%= customer.name %></h2>
    <button class="profile-btn">
      <img src="https://img.icons8.com/doodle/48/000000/user-male-circle.png" />
    </button>
    <!-- ------------------DASHBOARD WINDOW-------------------------------------- -->
    <% let premDue = customer.policy.filter(p => p.due==true && p.approved==true) %>
    <% if(premDue.length===0) {%>
      <div class="right-dashboard dashbord-div">
        <h2 class="due-txt">Premium Due</h2>
        <div class="prem-due-div">
          <div class="txt-div">
            <h2 class="txt-font">All Paid</h2>
            <h2 class="txt-font">Premium Due: 0 </h2>
            <h2 class="txt-font">Thank You For Regular payment</h2>
          </div>
        </div>
          <button class="pay-now-btn txt-font">Pay Now</button>
        
      </div>
      <% }else{ %>
    <div class="right-dashboard dashbord-div">
      <h2 class="due-txt">Premium Due</h2>
      <div class="prem-due-div">
        <div class="txt-div">
          <h2 class="txt-font"><%= premDue[0].name %> </h2>
          <h2 class="txt-font">Premium Due: <%= premDue[0].premium %> </h2>
          <h2 class="txt-font">Due Date on: 25 OCT, 2022</h2>
        </div>
      </div>
      <form method="post" action="/customer/policy?_method=PATCH ">
        <input type="text" name="id" value="<%= customer._id  %>" style="display: none;">
        <button  class="pay-now-btn txt-font">Pay Now</button>
      </form>
      
    </div>
    <% } %> 

    <!-- --------------------------DashBoard End--------------------------------- -->

    <!-- ------------------Policy Start------------------ -->
    <div class="right-dashboard dash your-policy hide">
      <h2 class="due-txt">Policies You Have</h2>
      <div class="policy-div">
        <div class="element">
          <h2 class="policy-name txt-font">Policy Name</h2>
          <h2 class="premium txt-font">Premium</h2>
          <h2 class="premium txt-font">Details</h2>
        </div>
        <% for(let plc of customer.policy) {%> 
          <% if(plc.approved){ %> 
          <div class="element">
            <h2 class="policy-name txt-font"><%= plc.name %> </h2>
            <h2 class="premium txt-font"><%= plc.premium %> </h2>
            <button class="apply-btn txt-font">Details</button>
          </div>
          <% } %> 
          <%}  %> 

        
      </div>
    </div>

    <!-- --------------------Policy End------------------------------- -->
    <!-- -----------------------------APPLY POLICY START-------------------------------------- -->
    <div class="right-dashboard show-policy hide">
      <h2 class="due-txt txt-font">Policy Available</h2>
      <div class="policy-div">
        <div class="element">
          <h2 class="policy-name txt-font">Policy Name</h2>
          <h2 class="premium txt-font">Premium</h2>
          <h2 class="premium txt-font">Apply Button</h2>
        </div>
        <% for(let policy of policies) { %>
          <% if(!customer.policy.some(pol=>(pol.name===policy.name))) { %> 
            <form action="/apply/<%=customer._id%>/<%=policy._id%>" method="post" class="element">
              
              <h2 class="policy-name txt-font"><%= policy.name  %> </h2>
              <h2 class="premium txt-font"><%= policy.premium %> </h2>
              <button  class="apply-btn txt-font">Apply</button>
            </form>
            
          
          <% } %> 

          <% } %> 
        
        
        
      </div>
    </div>
    <!-- -------------apply policies end---------------------- -->
    <!-- -----------------------------History START-------------------------------------- -->
    <div class="right-dashboard show-history hide">
      <h2 class="due-txt txt-font">History</h2>
      <div class="policy-div">
        <div class="element">
          <!-- <h2 class="slNo txt-font">Serial NO</h2> -->
          <h2 class="policy-name-q txt-font">Reason</h2>
          <h2 class="premium-q txt-font">Details</h2>
        </div>
        <% for(let qs of customer.question) {%> 
          <div class="element">
            <!-- <h2 class="slNo txt-font">1</h2> -->
            <h2 class="policy-name-q txt-font"><%= qs.qs %> </h2>

              <button class="apply-btn txt-font" >Details</button>

            
          </div>
          <% }  %> 
      </div>
    </div>
   
   
  
    <!-- -------------History END---------------------- -->

    <!-- --------------------------Ask a Question----------------------------- -->
    <div class="right-dashboard ask-qs hide">
      <h2 class="due-txt">Ask Your Question</h2>

      <form action="/create-question" method="post">
        <label class="reason-txt due-txt" for="reason">Customer ID</label>
        <input  name="id" class="input-form reason-input" value="<%=customer._id%>" name="qs" id="reason" type="text" /><br />
        <label class="due-txt ref-txt" for="refNo"
          >Enter Your Question</label
        >
        <input class="input-form ref-no" name="qs" id="refNo" type="text" /><br />
        <label class="des-txt due-txt" for="des">Enter Description</label>
        <textarea class="input-form" id="des" cols="30" rows="10"></textarea>
        <button class="pay-now-btn form-btn">Submit</button>
      </form>
    </div>
    <!-- -----------------Ask Question End----------------------- -->
    <div class="right-dashboard logout-div hide">
      <h2 class="due-txt txt-font">Are You Sure You Want to Logout ?</h2>
      <button class="log-out-last" onclick="location.href='/'">Log Out</button>
    </div>
  </body>
  <script src="/js/customer-dashboard.js"></script>
</html>
